html(ng-app="twitterNoSQL")
    head
        meta(charset='utf8')
        base(href='/')
        title Twitter
        link(rel='stylesheet', href='/javascript/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/javascript/components/toastr/toastr.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        div(ng-view)

    script(src='javascript/components/angular/angular.js')
    script(src='javascript/components/jquery/dist/jquery.js')
    script(src='javascript/components/angular-route/angular-route.js')
    script(src='javascript/components/bootstrap/dist/js/bootstrap.min.js')
    //script(src='javascript/components/angular-strap/dist/angular-strap.js')
    script(src='javascript/components/toastr/toastr.min.js')
    script(src='javascript/app.js')
    script(src='javascript/tweets/tweetsModule.js')
    script(src='javascript/tweets/tweetsCtrl.js')
