<div ng-controller="usersCtrl">
    <div class="panel panel-default">
        <div class="panel-body">{{ userName }}</div>
        <table class="table">
            <table class="table">
                <thead>
                <tr>
                    <th>Tweets</th>
                    <th>Followers</th>
                    <th>Following</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{nbrTweets}}</td>
                    <td>{{nbrFollowers}}</td>
                    <td>{{nbrFollowing}}</td>
                </tr>
                </tbody>
            </table>
        </table>
    </div>
</div>